* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Header */
.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
}

.header__txt {
  color: #ffffff;
  font-size: 28px;
  font-family: sans-serif;
}

.header__list {
  display: flex;
  gap: 30px;
  list-style: none;
}

a {
  color: #bdc1c7;
  text-decoration: none;
  font-family: sans-serif;
}
