* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Header */
.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
}

.header__txt {
  color: #ffffff;
  font-size: 20px;
  font-family: sans-serif;
}

.header__list {
  display: flex;
  gap: 30px;
  list-style: none;
}

a {
  color: #bdc1c7;
  text-decoration: none;
  font-family: sans-serif;
}

/* Main Box 1 */
.main-box-1 {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 70px 100px;
}

.main-box-1__main-txt {
  color: #ffffff;
  font-size: 35px;
  font-family: sans-serif;
  font-weight: bold;
}

.main-box-1__sub-txt {
  color: #bdc1c7;
  font-size: 15px;
  font-family: sans-serif;
  margin-bottom: 8px;
}

.main-box-1__btn {
  padding: 8px 25px;
  font-size: 15px;
  background-color: #3b82f6;
  color: #ffffff;
  border-style: none;
  border-radius: 5px;
}

img {
  height: 250px;
}

/* Main Box 2 */
.main-box-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 35px 100px;
  margin-bottom: 50px;
}

.main-box-2__txt {
  color: #1f2937;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
}

.main-box-2__products {
  display: flex;
  gap: 40px;
}

.main-box-2__product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.main-box-2__box {
  width: 130px;
  height: 130px;
  border: 3px solid #3b82f6;
  border-radius: 10px;
}

.main-box-2__sub-txt {
  max-width: 130px;
  text-align: center;
  color: #68717c;
  font-size: 15px;
  font-family: sans-serif;
}

/* Main Box 3 */
.main-box-3 {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 80px 250px;
}

.quote {
  color: #1f2937;
  font-size: 29px;
  font-family: sans-serif;
  font-weight: lighter;
}

.author {
  color: #252f3d;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: auto;
}

/* Main Box 4 */
.main-box-4 {
  padding: 70px 150px;
}

.main-box-4__sub-box {
  background-color: #3b82f6;
  display: flex;
  justify-content: space-between;
  padding: 50px 120px;
  border-radius: 7px;
}

.main-box-4__txt {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.main-box-4__main-txt {
  color: #ffffff;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
}

.main-box-4__sub-txt {
  color: #9dbcf0;
  font-size: 14px;
  font-family: sans-serif;
}

.main-box-4__btn {
  padding: 5px 28px;
  background-color: #3b82f6;
  color: #dbe8fd;
  font-size: 14px;
  border-style: none;
  border: 2px solid #dbe8fd;
  border-radius: 7px;
}

/* Footer */
.footer {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
}

.footer__txt {
  color: #fdfdfd;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: ;
  padding: 31px 0;
}
